rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /jankenRooms/{roomId} {
      allow read, write: if true;
    }
  }
}
